<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="StudentCardDB" connectionString="Data Source=153.109.124.35;Initial Catalog=TEF_GOO;User ID=6231db;Password=Pwd46231." />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrintCardService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://153.109.124.35:81/goo-soap/PrintCardServiceSOAP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintCardService"
                contract="PrintCardServiceSOAP.IPrintCardService" name="BasicHttpBinding_IPrintCardService" />
        </client>
    </system.serviceModel>
</configuration>